@import url("style.css");

.form-settings,
label,
input{
	color: white;
}

.input_effect {
    margin: 0 15px 5px;
}

input[type="text"], input[type="password"], input[type="number"], input[type="email"], textarea{
	width: 100%;
	font-size: 96%;
    border: 0px;
        background: rgba(255, 255, 255, 0.2);
    border-radius: 7px;
    padding: 6px 8px;
}
.loginsection{
	padding-bottom: 65px;
}
.ic-animate {
    text-align: center;
    margin: 0 auto;
    padding: 20px 0 10px;
}
.checkbox_wrapper {
    width: 75%;
}
label {
    width: 100%;
    padding: 0;
}
.group-icon label {
    width: 100%;
    padding: 0px;
}
.form-btn label {
    padding-top: 5px;
    text-align: center;
    font-size: 15px !important;
    line-height: 20px;
}
label#lbllmsg1{
    padding: 5px 0 15px;
}

.hybrid_container:after {
    content: '';
    position: absolute;
    bottom: 10px;
    right: 5px;
    background-image: url(../img/iconLogoRCS.svg);
    background-repeat: no-repeat;
    width: 300px;
    height: 70px;
    opacity: 0.6;
}
header {
	position: relative;
}

#txt_maintitle{
	/*padding-top: 0px;*/
    margin: auto;
    display: block;
    padding-left: 0;
}

.btn-round {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: white;
	color: transparent;
	-webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.btn-round:active {
	background-color: white;
	color: transparent;
	-webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0);
}

.indexSection {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 25px;
    background-color: transparent !important;
}

.icon-arrow-right {
	position: absolute;
	left:0;
	top: 0;
	width: 40px;
	height: 40px;
	background-image: url('../img/iconArrowRight.png');
	background-repeat: no-repeat;
	background-position: center;
}

.fadeOut {
    animation: fadeOut 0.65s ease 1 forwards;
    -webkit-animation: fadeOut 0.65s ease 1 forwards;
}

.form-settings {
    margin: 0 auto;
    display: block;
    padding: 15px 0;
}

/* The animation code */
@keyframes fadeOut {
    0%   {opacity: 1; transform: scale(1);}
    75% {opacity: 0.5;transform: scale(0.85);}
    100% {opacity: 0;transform: translateX(-100px) scale(0.85);}
}

@-webkit-keyframes fadeOut {
    0%   {opacity: 1; -webkit-transform: scale(1);}
    75% {opacity: 0.5;-webkit-transform: scale(0.85);}
    100% {opacity: 0;-webkit-transform: translateX(-100px) scale(0.85);}
}

.fadeIn {
    opacity: 0;
    animation: fadeIn 0.65s ease 1 forwards;
    -webkit-animation: fadeIn 0.65s ease 1 forwards;
}

/* The animation code */
@keyframes fadeIn {
    0%   {opacity: 0; transform: scale(0.85);}
    100% {opacity: 1;transform: scale(1);}
}

@-webkit-keyframes fadeIn {
    0%   {opacity: 0; -webkit-transform: scale(0.85);}
    100% {opacity: 1;-webkit-transform: scale(1);}
}

.input_effect label {
    font-size: 94% !important;
    margin-left: 7px;
}

.input_effect.focus label {
	font-size: 98% !important;
	margin-left: 2px;
}

.lblmsg1_pu,
.lblmsg1_pr,
.lblmsgNext,
.lblLogin {
	font-size: 92% !important;	
}

.lblLogin {
    padding: 5px 0 15px;
}

.main-login {
    margin: 0 15px 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    padding: 3px 10px;
}

.main-login .form-group-icon {
    position: relative;
}

.group-icon {
    color: white;
    font-size: 15px;
    line-height: 20px;
    width: calc(100% - 40px);
    margin: 7px 0px 7px 40px;
    box-sizing: border-box;
}

.icons-login {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 0px;
    top: 5px;
}

.icons-login.icon-ip-central {
    background: rgba(136,58,209);
    background: url('../img/iconIPCentralWt.svg') center center no-repeat;
    background-size: 100%, cover;
}

.icons-login.icon-ip-store {
    background: rgba(136,58,209);
    background: url('../img/iconIPTiendaWt.svg') center center no-repeat;
    background-size: 100%, cover;
}

.icons-login.icon-station {
    background: rgba(136,58,209);
    background: url('../img/iconEstacionWt.svg') center center no-repeat;
    background-size: 100%, cover;
}

.lblmsg1,
.lblmsg2,
.lblmsg3 {
    font-size: 13px;
    line-height: 17px;
}