@import url("style.css");

/* The animation code */
@keyframes fadeIn {
    0%   {opacity: 0; transform: scale(0.65);}
    100% {opacity: 1;transform: scale(1);}
}
@-webkit-keyframes fadeIn {
    0%   {opacity: 0; -webkit-transform: scale(0.65);}
    100% {opacity: 1;-webkit-transform: scale(1);}
}
.fadeIn-1{animation-delay: 0.1s;-webkit-animation-delay: 0.1s;}
.fadeIn-2{animation-delay: 0.15s;-webkit-animation-delay: 0.15s;}
.fadeIn-3{animation-delay: 0.2s;-webkit-animation-delay: 0.2s;}
.fadeIn-4{animation-delay: 0.25s;-webkit-animation-delay: 0.25s;}
.fadeIn-5{animation-delay: 0.3s;-webkit-animation-delay: 0.3s;}
.fadeIn-6{animation-delay: 0.35s;-webkit-animation-delay: 0.35s;}
.fadeIn-7{animation-delay: 0.4s;-webkit-animation-delay: 0.4s;}
.fadeIn-8{animation-delay: 0.45s;-webkit-animation-delay: 0.45s;}
.fadeIn-9{animation-delay: 0.5s;-webkit-animation-delay: 0.5s;}
.fadeIn-10{animation-delay: 0.55s;-webkit-animation-delay: 0.55s;}