<?xml version='1.0' encoding='utf-8'?>
<widget id="com.realcs.report" version="3.2.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RCS Reports</name>
    <description>RCS Reports</description>
    <author email="devmobile@realcs.com" href="http://retailcs.com/">
        Retail Custom Solutions
    </author>
    <content src="data/ios/ip.html" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="1000" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="Fullscreen" value="false" />
    <preference name="StatusBarBackgroundColor" value="#2196F3" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon qualifier="ldpi" src="www/res/icon/android/ldpi.png" />
        <icon qualifier="mdpi" src="www/res/icon/android/mdpi.png" />
        <icon qualifier="hdpi" src="www/res/icon/android/hdpi.png" />
        <icon qualifier="xhdpi" src="www/res/icon/android/xhdpi.png" />
        <icon qualifier="xxhdpi" src="www/res/icon/android/xxhdpi.png" />
        <splash density="ldpi" src="www/res/screen/android/ldpi.png" />
        <splash density="mdpi" src="www/res/screen/android/mdpi.png" />
        <splash density="hdpi" src="www/res/screen/android/hdpi.png" />
        <splash density="xhdpi" src="www/res/screen/android/xhdpi.png" />
        <splash density="xxhdpi" src="www/res/screen/android/xxhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~6.2.3" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-google-analytics" spec="^1.8.3" />
</widget>
