<?xml version='1.0' encoding='utf-8'?>
<widget id="com.realcs.report"
    versionCode="35" 
    version="3.1.20" 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RCS Reports</name>
    <description>RCS Reports</description>
    <author href="http://retailcs.com/" email="devmobile@realcs.com">
        Retail Custom Solutions
    </author>
    <!--
        <content src="data/android/ip.html"/>
        <content src="index.html" />
        <content src="data/ios/ip.html"/>
    -->
    <content src="data/ios/ip.html"/>

    <preference name="AutoHideSplashScreen"  value= "true"  />
    <preference name="SplashScreenDelay"  value= "2000"  />
    <preference name="FadeSplashScreen"  value= "true" />
    <preference name="FadeSplashScreenDuration"  value= "1000" />
    <preference name="ShowSplashScreenSpinner"  value= "false" />
    <preference name="SplashShowOnlyFirstTime"  value= "false"  />
    

    <preference name="Fullscreen" value="false"/>
    <preference name="StatusBarBackgroundColor" value="#2196F3"/>
    <preference name="StatusBarStyle" value="lightcontent" />


    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="www/res/icon/android/ldpi.png"  qualifier="ldpi" />
        <icon src="www/res/icon/android/mdpi.png" qualifier="mdpi" />
        <icon src="www/res/icon/android/hdpi.png" qualifier="hdpi" />
        <icon src="www/res/icon/android/xhdpi.png" qualifier="xhdpi" />
        <icon src="www/res/icon/android/xxhdpi.png"  qualifier="xxhdpi" />

        <splash src="www/res/screen/android/ldpi.png"  density="ldpi"/>
        <splash src="www/res/screen/android/mdpi.png"  density="mdpi"/>
        <splash src="www/res/screen/android/hdpi.png"  density="hdpi"/>
        <splash src="www/res/screen/android/xhdpi.png"  density="xhdpi" />
        <splash src="www/res/screen/android/xxhdpi.png" density="xxhdpi"/>
    </platform>


    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>