@import url("style.css");
#ip_1,#ip_2,#ip_3,#ip_4{
    width: 45px;
    display: inline-block;
    text-align: center;
}
.form-settings,
label,
input{
	color: white;
}

.input_effect {
    margin: 0 15px 5px;
}

input[type="text"], input[type="password"], input[type="number"], input[type="email"], textarea{
	width: 100%;
	font-size: 96%;
    border: 0px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 7px;
    padding: 6px 8px;
}

label {
    width: 100%;
    padding: 0px;
    padding-bottom: 2px;
    min-height: 20px;
}
.form-btn label {
    padding-top: 5px;
    text-align: center;
    font-size: 15px !important;
    line-height: 20px;
}

.hybrid_container:after {
    content: '';
    position: fixed;
    bottom: 10px;
    right: 5px;
    background-image: url(../img/iconLogoRCS.svg);
    background-repeat: no-repeat;
    width: 300px;
    height: 70px;
    opacity: 0.6;
}

header {
	position: relative;
}

#txt_maintitle {
    /* padding-top: 0px; */
    margin: auto;
    display: block;
    padding-left: 0;
}
.btn-round {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: white;
	color: transparent;
	-webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.btn-round:active {
	background-color: white;
	color: transparent;
	-webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0);
}

.indexSection {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 65px;
    background-color: transparent !important;
}

.hybrid_container {	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.icon-arrow-right {
	position: absolute;
	left:0;
	top: 0;
	width: 40px;
	height: 40px;
	background-image: url('../img/iconArrowRight.png');
	background-repeat: no-repeat;
	background-position: center;
}

.fadeOut {
    animation: fadeOut 0.65s ease 1 forwards;
    -webkit-animation: fadeOut 0.65s ease 1 forwards;
}

.form-settings {
    margin: 0 auto;
    display: block;
    padding: 15px 0;
}

.ic-animate {
    text-align: center;
    margin: 0 auto;
    padding: 0px 0 10px;
}

/* The animation code */
@keyframes fadeOut {
    0%   {opacity: 1; transform: scale(1);}
    75% {opacity: 0.5;transform: scale(0.85);}
    100% {opacity: 0;transform: translateX(-100px) scale(0.85);}
}

@-webkit-keyframes fadeOut {
    0%   {opacity: 1; -webkit-transform: scale(1);}
    75% {opacity: 0.5;-webkit-transform: scale(0.85);}
    100% {opacity: 0;-webkit-transform: translateX(-100px) scale(0.85);}
}

.fadeIn {
    opacity: 0;
    animation: fadeIn 0.65s ease 1 forwards;
    -webkit-animation: fadeIn 0.65s ease 1 forwards;
}

/* The animation code */
@keyframes fadeIn {
    0%   {opacity: 0; transform: scale(0.85);}
    100% {opacity: 1;transform: scale(1);}
}

@-webkit-keyframes fadeIn {
    0%   {opacity: 0; -webkit-transform: scale(0.85);}
    100% {opacity: 1;-webkit-transform: scale(1);}
}

.input_effect label {
    font-size: 94% !important;
    margin-left: 7px;
}

.input_effect.focus label {
	font-size: 98% !important;
	margin-left: 2px;
}

.lblmsg1_pu,
.lblmsg1_pr,
.lblmsgNext {
	font-size: 92% !important;	
}


/*ip domain*/
.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-group{
    margin-bottom: 5px;
}
.form-group.group-inputs{
    display: inline-block;
}
.control,
.group-input{
    
    display: inline-block;
}
.group-input{
    position: relative;
}
.label-ip,
.label-domain,
.enter-ip,
.enter-domain{
    display: none;
}
.label-ip.show,
.label-domain.show,
.enter-ip.show,
.enter-domain.show{
    display: inline-block;
}
.group-inputs{
    margin: 0 25px 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 27px;
    padding: 8px;
}
.control{
    position: relative;
}
.control.prev,
.control.next{
    width: 34px;
    height: 22px;
}
.icon-prev,
.icon-next{
    display: block;
    padding: 15px;
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-prev{
    background-image: url(../img/iconPrev.svg);
}
.icon-next{
    background-image: url(../img/iconNext.svg);
}
.enter-ip,
.enter-domain{
    visibility: visible;
    transform: translateX(0);
    transform-origin: center center; 
}
.enter-ip{
    /*min-width: 250px;*/
}
.move-left,
.move-right{
    display: block;
    position: absolute;
    top: 0;    
}
.enter-ip.move-left,
.enter-ip.move-right{
    min-width: 250px !important;
}
.move-left{
    animation-name: moveLeft;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
/* The animation code */
@keyframes moveLeft {
    0%   {transform: translateX(0px); }
    100% {transform: translateX(-30px); opacity: 0; visibility: hidden;}
}
@-webkit-keyframes moveLeft {
   
}
.move-right{
    animation-name: moveRight;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
/* The animation code */
@keyframes moveRight {
    0%   {transform: translateX(0px); }
    100% {transform: translateX(30px); opacity: 0; visibility: hidden;}
}
@-webkit-keyframes moveLeft {
   
}
/* endip domain*/


@media only screen and (max-width : 384px) {
    #ip_1,#ip_2,#ip_3,#ip_4{
        width: 32px;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .form-group.group-inputs{
        margin-bottom: 10px;
    }
    .form-group.text-center{
        margin-bottom: 5px;
    }
    .input_effect label{
        position: absolute;
    }
    .form-settings {
        padding: 10px 0;
    }
    .hybrid_container:after {
        width: 250px;
    }
    .icon-public img{
        width: 160px;
    }
    #txt_maintitle {
        width: 160px !important;
    }
    .indexSection {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media only screen and (max-width : 320px) {
    #ip_1,#ip_2,#ip_3,#ip_4{
        width: 30px;
    }
    .hybrid_container:after {
        width: 240px;
    }
    .icon-public img{
        width: 150px;
    }
    #txt_maintitle {
        width: 150px !important;
    }
    .indexSection {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
