.dateStartSection,
.dateEndSection{
  position: relative;
  width: 75px;
  height: 43px;
  display: inline-flex;
  justify-content:center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
}
#txt_title{
  width: inherit;
}
#lblDateStart_r4,
#lblDateEnd_r4{
  width: 100%;
  right: 0;
  font-size: 11px;
  position: absolute;
  text-align: center;  
  -webkit-transform: translate3D(0,-10px,0);
  transform: translate3D(0,-10px,0);
}
#dateStartTitle,
#dateEndTitle{
  font-size: 12px;
  -webkit-transform: translate3D(0,10px,0);
  transform: translate3D(0,10px,0);
}
#lblDateStart_r4,#lblDateEnd_r4,
.item #lbldateStartR4,
.item #lbldateEndR4{
  display: inline-block;
  line-height: 30pt;
  font-size: 13px;
}

.item div {
  line-height: 30pt;
  font-size: 13px;
}

#nameStore {
  padding-left: 10px;
  padding-right: 10px;
}
#lbl_Options {
  text-align: center;
  line-height: 44px;
  font-weight: bold;
  font-size: 15px;
}

#storeName{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}

#storeNo{
  display: none;
}


#chartdiv{
  width: 98%; 
  margin: 0 auto;
  height: 400px;
}
#chartdiv{
  position: relative;
  z-index: 100;
}
.middle_storename{
  width: 205px !important;
  display: inline-flex;
  justify-content: center;
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
   margin-left: 10px;
  margin-right: 10px;
}
.nameStore{
  white-space: normal !important;
  line-height: 15px !important;
}



@media all and (orientation: portrait) { 

  #miModal4{
    visibility: visible;
  }

  .dateStartSection{
    transition: all 0.2s;
    opacity: 0;
  }
  .dateEndSection{
    transition: all 0.2s;
    opacity: 0;
  }
}
@media all and (orientation: landscape) { 

  #miModal4{
    visibility: hidden;
  }

  .dateStartSection{
    transition: all 0.2s;
    opacity: 1;
  }
  .dateEndSection{
    transition: all 0.2s;
    opacity: 1;
  }
}


/* iPad in portrait & landscape */
@media only screen and (min-width : 768px) and (max-width : 1024px)  {
  text {
    font-size: 9pt;
  }
  #lblDateStart_r4, #lblDateEnd_r4{
    /*font-size: 11pt;*/
    font-size: 12px;
  }
  #dateStartTitle, #dateEndTitle{
    /*font-size: 11pt;*/
    font-size: 12px;
    width: 100%;
  }
  .dateStartSection, .dateEndSection{
    /*width: 90px;*/
    /*width: 120px;*/
  }

}
